@media (min-width: 1200px) {
  h1 {
    font-size: 76px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 22px;
    font-weight: 700;
  }

  h4 {
    font-size: 16px;
    font-weight: 600;
  }

  ul {
    list-style: none;
  }

  header {
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: $white;
    padding: 0 168px;
    // box-shadow: 0 3px 9px rgba($color: #000000, $alpha: 0.2);
    .logo {
      margin: 0 45px 0 0;
      svg {
        height: 32.67px;
        width: 120.04px;
      }
    }
    nav {
      position: initial;
      top: unset;
      left: unset;
      width: auto;
      height: auto;
      transition: none;
      flex-grow: 1;
      .backdrop {
        display: none;
      }
      ul {
        position: initial;
        top: unset;
        left: unset;
        width: auto;
        padding: 0;
        border-radius: 0;
        background-color: transparent;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: unset;
        z-index: 10;
        li {
          color: $grayish-violet;
          font-weight: $bold-fw;
          font-size: 15px;
          margin: 0 28px 0 0;
          a {
          }
          &.separator {
            height: 0.5px;
            width: 100%;
            background-color: transparent;
          }
          &:hover {
            color: $very-dark-violet;
            cursor: pointer;
          }
          &.sign-up {
            background-color: $cyan;
            color: $white-text;
            width: 104px;
            min-width: 104px;
            border-radius: 50px;
            text-align: center;
            padding: 8px 0 8px;
            margin: 0;
            &:hover {
              background-color: rgba($color: $cyan, $alpha: 0.5);
            }
          }
        }
      }
      &.expand {
        left: unset;
      }
    }
    .hamburger {
      display: none;
    }
  }

  #home-page-content {
    padding: 120px 0 0;
    #home-hero {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 168px;
      #home-title {
        max-width: 738px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 0 0 168px;
        margin: 34px 0 0;
        h1 {
          text-align: left;
          color: $very-dark-violet;
          margin: 0 0 7px;
          line-height: 90px;
        }
        p {
          text-align: left;
          color: $grayish-violet;
          margin: 0 0 37px;
          font-size: 22px;
          font-weight: 500;
        }
        a {
          justify-self: unset;
          font-size: 20px;
          font-weight: $bold-fw;
          background-color: $cyan;
          padding: 13px 40px;
          border-radius: 28px;
          color: $white-text;
          text-align: center;
          width: fit-content;
          &:hover {
            background-color: rgba($color: $cyan, $alpha: 0.5);
          }
        }
      }
      #hero-img {
        margin: 0 0 48px;
      }
    }

    #short-section {
      padding: 90px 160px 0;
      #short-form {
        left: 160px;
        right: 160px;
        background-image: url("/images/bg-shorten-desktop.svg");
        background-size: cover;
        border-radius: 10px;
        padding: 52px 64px;
        flex-direction: row;
        input {
          font-size: 20px;
          font-weight: 500;
          padding: 22px 32px 18px;
          border-radius: 10px;
          margin: 0 24px 0 0;
          width: 100%;
        }
        button {
          font-size: 20px;
          font-weight: 500;
          padding: 22px 32px 18px;
          border-radius: 10px;
          min-width: 188px;
        }
      }

      .recents-shorts {
        .shorted {
          border-radius: 10px;
          background-color: $white;
          margin: 16px 0 0;
          box-shadow: 0 4px 12px rgba($color: #000000, $alpha: 0.2);
          display: flex;
          justify-content: space-between;
          align-items: center;
          .header {
            padding: 16px;
            border-bottom: none;
            h5 {
              font-size: 20px;
              font-weight: 500;
            }
          }
          .body {
            padding: 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            a {
              font-size: 20px;
              font-weight: 500;
              color: $cyan;
              margin: 0 24px 0 0;
            }
            button {
              min-width: 102px;
              font-size: 16px;
              font-weight: 600;
              color: $white;
              background-color: $cyan;
              border: none;
              padding: 14px 0;
              border-radius: 5px;
              &.copied {
                background-color: $dark-violet;
              }
            }
          }
        }
      }
    }

    #advanced-statistics {
      background-color: $white-text;
      padding: 132px 160px 118px;
      .advanced-statistics-header {
        margin: 0 0 85px;
        h2 {
          text-align: center;
          margin: 0 0 14px;
        }
        p {
          text-align: center;
          color: $grayish-violet;
          max-width: 500px;
          margin: 0 auto;
        }
      }
      .advanced-statistics-body {
        display: grid;
        grid-template-columns: 1fr 30px 1fr 30px 1fr;
        .card-separator {
          height: 8px;
          width: 30px;
          justify-self: unset;
          margin-top: 154px;
        }
        .statistics-card {
          background-color: $white;
          border-radius: 5px;
          box-shadow: 0 4px 12px rgba($color: #000000, $alpha: 0.2);
          padding: 0 34px 34px;
          position: relative;
          .card-icon {
            background-color: $dark-violet;
            height: 88px;
            width: 88px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -44px;
            left: 34px;
            box-shadow: 0 4px 12px rgba($color: #000000, $alpha: 0.2);
            img {
            }
          }
          h3 {
            margin: 80px 0 16px;
            text-align: left;
          }
          p {
            text-align: left;
            color: $grayish-violet;
          }
          &:nth-child(1) {
            margin-bottom: 90px;
          }
          &:nth-child(3) {
            margin-top: 45px;
            margin-bottom: 45px;
          }
          &:nth-child(5) {
            margin-top: 90px;
          }
        }
      }
    }
    #boost-linkst-today {
      padding: 56px 160px;
      background-image: url("/images/bg-boost-desktop.svg");
      background-size: cover;
      h2 {
        margin: 0 0 24px;
      }
      a {
        padding: 13px 40px;
        border-radius: 28px;
        color: $white-text;
        text-align: center;
        width: fit-content;
      }
    }
  }

  footer {
    background-color: $very-dark-violet;
    padding: 72px 160px;
    display: flex;
    flex-direction: row;
    align-items: unset;
    justify-content: space-between;
    color: $white-text;

    .logo {
      margin: 0;
      svg {
        height: 32.67px;
        width: 120.04px;
      }
    }
    .footer-nav {
      display: flex;
      .nav-card {
        display: flex;
        flex-direction: column;
        align-items: unset;
        margin: 0 78px 0 0;
        width: 100%;
        h4 {
          margin: 0 0 22px;
        }
        a {
          font-size: 14px;
        }
        .social-links {
          ul {
            display: flex;
            flex-direction: row;
            li {
              margin: 0 12px;
              a {
                svg {
                  height: 24px;
                }
              }
            }
          }
        }
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
