$cyan: hsl(180, 66%, 49%);
$dark-violet: #3b3054;
$red: hsl(0, 87%, 67%);
$gray: #bfbfbf;
$grayish-violet: #9e9aa7;
$very-dark-blue: #35323e;
$very-dark-violet: #232127;
$white: #fff;
$white-text: #f4f0fe;

$normal-fw: 500;
$bold-fw: 700;
